/* ==========================================
   DARK THEME
========================================== */

body{

    background:#0F172A;
    color:#F8FAFC;

}

/* Sidebar */

.sidebar{

    background:#111827;
    border-right:1px solid #1F2937;

}

/* Logo */

.logo h2{

    color:#818CF8;

}

/* New Chat Button */

.new-chat-btn{

    background:#4F46E5;
    color:#FFFFFF;

}

.new-chat-btn:hover{

    background:#6366F1;

}

/* Header */

.chat-header{

    background:#111827;
    border-bottom:1px solid #1F2937;

}

/* Theme Toggle */

#themeToggle{

    background:#1F2937;
    color:#F8FAFC;

}

/* Chat Area */

.chat-box{

    background:#0F172A;

}

/* Bot Avatar */

.message.bot .avatar{

    background:#6366F1;
    color:#FFFFFF;

}

/* User Avatar */

.message.user .avatar{

    background:#10B981;
    color:#FFFFFF;

}

/* Bot Bubble */

.message.bot .bubble{

    background:#1E293B;
    color:#F8FAFC;
    box-shadow:0 5px 18px rgba(0,0,0,.35);

}

/* User Bubble */

.message.user .bubble{

    background:#4F46E5;
    color:#FFFFFF;

}

/* Input Area */

.input-area{

    background:#111827;
    border-top:1px solid #1F2937;

}

.input-area textarea{

    background:#1E293B;
    color:#F8FAFC;
    border:1px solid #334155;

}

.input-area textarea::placeholder{

    color:#94A3B8;

}

/* Send Button */

#sendBtn{

    background:#4F46E5;
    color:#FFFFFF;

}

#sendBtn:hover{

    background:#6366F1;

}

/* Typing Animation */

.typing span{

    background:#FFFFFF;

}

/* Scrollbar */

.chat-box::-webkit-scrollbar-thumb{

    background:#475569;

}

.chat-box::-webkit-scrollbar-track{

    background:transparent;

}