/* ==========================================
   LIGHT THEME
========================================== */

body{

    background:#F5F7FB;
    color:#1F2937;

}

/* Sidebar */

.sidebar{

    background:#FFFFFF;
    border-right:1px solid #E5E7EB;

}

/* Logo */

.logo h2{

    color:#4F46E5;

}

/* New Chat Button */

.new-chat-btn{

    background:#4F46E5;
    color:#FFFFFF;

}

.new-chat-btn:hover{

    background:#4338CA;

}

/* Header */

.chat-header{

    background:#FFFFFF;
    border-bottom:1px solid #E5E7EB;

}

/* Theme Toggle */

#themeToggle{

    background:#EEF2FF;
    color:#4F46E5;

}

/* Chat Area */

.chat-box{

    background:#F5F7FB;

}

/* Bot Avatar */

.message.bot .avatar{

    background:#4F46E5;
    color:#FFFFFF;

}

/* User Avatar */

.message.user .avatar{

    background:#10B981;
    color:#FFFFFF;

}

/* Bot Bubble */

.message.bot .bubble{

    background:#FFFFFF;
    color:#1F2937;
    box-shadow:0 5px 18px rgba(0,0,0,.08);

}

/* User Bubble */

.message.user .bubble{

    background:#4F46E5;
    color:#FFFFFF;

}

/* Input Area */

.input-area{

    background:#FFFFFF;
    border-top:1px solid #E5E7EB;

}

.input-area textarea{

    background:#F9FAFB;
    color:#1F2937;
    border:1px solid #E5E7EB;

}

.input-area textarea::placeholder{

    color:#9CA3AF;

}

/* Send Button */

#sendBtn{

    background:#4F46E5;
    color:#FFFFFF;

}

#sendBtn:hover{

    background:#4338CA;

}

/* Typing Animation */

.typing span{

    background:#4F46E5;

}

/* Scrollbar */

.chat-box::-webkit-scrollbar-thumb{

    background:#CBD5E1;

}

.chat-box::-webkit-scrollbar-track{

    background:transparent;

}